# Edited by BAB2501
#
# See: https://gist.github.com/ianheggie/9327010
# for Global git ignore for OS/IDE/temp/backup files
#
# See http://git-scm.com/docs/gitignore for manual
# Copied from internet and customized

# Thanks to unknown
# Have editor/IDE/OS specific files you need to ignore? Consider using a global gitignore: 
#
# * Create a file at ~/.gitignore
# * Include files you want ignored
# * Run: git config --global core.excludesfile ~/.gitignore
#
# After doing this, these files will be ignored in all your git projects,
# saving you from having to 'pollute' every project you touch with them
#
# Not sure what to needs to be ignored for particular editors/OSes? Here's some ideas to get you started. (Remember, remove the leading # of the line)
#


## RUBYMINE
.idea/
# IDE junk
*.iml

# For MacOS:
#
.DS_Store


# For TextMate
#*.tmproj
#tmtags

# For emacs:
#*~
#\#*
#.\#*

# For vim:
*.swp
*~

# For redcar:
#.redcar

# For rubinius:
*.rbc

## Temp files
,*
*.bak

# My custom rules

# Ruby Managers (lock down ruby version in Gemfile if you need to do so for a project)
.rbenv
.rbenv-version
.ruby-gemset
.ruby-version
.rvmrc

# Vagrant
# Vagrantfile - unsure if I want to use an example and ignore this globally?
.vagrant

# output from nohup
nohup.out

# output from script
typescript

# Finger trouble with :w!
1

#  Thanks http://techportal.inviqa.com/2012/11/01/global-git-ignore/

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
#*.o #because we are going to compile later will be switched off
#*.so
 
# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip


# Logs and databases #
######################
*.log
*.sqlite
 
# OS generated files #
######################
.DS_Store
ehthumbs.db
Icon
Thumbs.db
.tmtags
tags
vendor.tags
tmtagsHistory
*.sublime-project
*.sublime-workspace

#
# Problem with mc
############
*.mc
*.cf
OpenBSD
